<%= form_with(model: group, local: true) do |form| %>
  <% if group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :area %>
    <%= form.text_field :area %>
  </div>

  <div class="field">
        <%= form.label :recruiter_id %>
        <%= form.select("recruiter_id", Recruiter.all.collect {|r| [r.description, r.id] }, { include_blank: 'Selecione um Recrutador'}) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
