<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @intern.description %>
</p>

<p>
  <strong>Idade:</strong>
  <%= @intern.age %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @intern.telephone %>
</p>

<p>
  <strong>Qualidade:</strong>
  <%= @intern.quality %>
</p>

<p>
  <strong>Dificuldades:</strong>
  <%= @intern.defect %>
</p>

<%= link_to 'Editar', edit_intern_path(@intern) %> |
<%= link_to 'Voltar', interns_path %>
